---
import { Image } from "astro:assets";
import { Icon } from 'astro-icon';
import contactData from '../data/contactData';
---

<footer id="contacts" data-anchor="contacts" class=" bg-navColor flex">
	<div class="container flex mx-auto pt-[1rem] pb-[4rem]">
		<div class="flex flex-col md:flex-row justify-between gap-8 md:gap-1 w-full">
			<div class="md:w-1/3 flex justify-center md:justify-start">
				<div class="flex flex-col space-y-6 items-center ">
					<a href="/" class="flex" aria-label="Go to main page">
						<Image src="/logo2.svg" alt="Logo" width={180} height={50} />
					</a>
					<div class="flex gap-x-4">
						<a href=`${contactData.facebook}` target="_blank" aria-label="Contact in Facebook" class="flex justify-center items-center border hover:border-2 border-veryLightGray hover:border-brightRed w-[40px] h-[40px] rounded-full">
							<Icon name="jam:facebook" width="26px" class="" />
						</a>
						<a href=`${contactData.instagram}` target="_blank" aria-label="Contact in Instagram" class="flex justify-center items-center border hover:border-2 border-veryLightGray hover:border-brightRed w-[40px] h-[40px] rounded-full">
							<Icon name="jam:instagram" width="26px" class="" />
						</a>
						<a href=`tel:${contactData.phoneValue}` aria-label="Contact by phone" class="flex justify-center items-center border hover:border-2 border-veryLightGray hover:border-brightRed w-[40px] h-[40px] rounded-full">
							<Icon name="ri:phone-fill" width="26px" class="" />
						</a>
					</div>
				</div>
			</div>
			<div class="hidden md:w-1/3 md:flex flex-col pl-4">
				{/* space-y-3 md:space-y-10 justify-end */}
				<h4 class="text-lg font-semibold mt-5 mb-3">
					Menu
				</h4>
				<div class="flex gap-10">
					<div class="flex flex-col gap-2">
						<a href="/#home" class="hover:text-brightRed" aria-label="Go to main page">Home</a>
						<a href="/#catalog" class="hover:text-brightRed" aria-label="Watch all sweet products in Catalog">Catalog</a>
					</div>
					<div class="flex flex-col gap-2">
						<a href="/#reviews" class="hover:text-brightRed" aria-label="Read reviews from clients">Reviews</a>
						<a href="/#how-to-order" class="hover:text-brightRed" aria-label="How to order form">How to order</a>
					</div>
				</div>
			</div>
			<div class="md:w-1/3 flex flex-col pl-4">
				<h4 class="text-lg font-semibold mt-5 mb-3">
					Contacts
				</h4>
				<div class="flex flex-col gap-y-2">
					<a href=`tel:${contactData.phoneValue}` aria-label="Contact by phone" class="hover:text-brightRed">
						{contactData.phoneText}
					</a>
					<a href=`mailto:${contactData.email}` aria-label="Contact by email" class="hover:text-brightRed">
						{contactData.email}
					</a>
				</div>
				<div class="flex items-center mt-5 md:mt-10">
					<span>website developed by</span>
					<a href=`${contactData.developer}` target="_blank" aria-label="See who developed this website" class="flex w-[45px] pl-2">
						<Image src="/kv-logo.svg" alt="Logo Developer" width={81} height={67} class="w-full"/>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>

<style>
	footer {
		margin-top: auto;
	}
</style>