---
export const prerender = true;

import Button from './Button.astro';
import ProductCard from './ProductCard.astro';
import { BASE_URL, CATALOG_URL } from '../constants';

interface Props {
	id: string;
	category: string;
	href: string;
	active?: boolean;
}

const {
	id,
	category,
	href,
	active = false
} = Astro.props as Props;

const res = await fetch(BASE_URL + CATALOG_URL + category);
const products = await res.json();
---

<div
	role="tabpanel"
	id={id}
	class={active ? "tab-panel flex flex-col transition duration-300 w-full" : "tab-panel w-full invisible absolute top-0 opacity-0 transition duration-300"}
>
	<div class="grid grid-cols-2 md:grid-cols-4 gap-3 md:gap-4">
		<ProductCard id={products[1]._id} name={products[1].name} image={products[1].image} />
		<ProductCard id={products[2]._id} name={products[2].name} image={products[2].image} />
		<ProductCard id={products[0]._id} name={products[0].name} image={products[0].image} isBigger={true} addStyle="col-span-2 row-span-2" />
		<ProductCard id={products[3]._id} name={products[3].name} image={products[3].image} />
		<ProductCard id={products[4]._id} name={products[4].name} image={products[4].image} />
	</div>
	<div class="flex justify-center my-5">
		<div class="flex">
			<Button text="See more" desc="See more products" href={`/catalog/${category}`} />
		</div>
	</div>
</div>
